<div class="justfy-content-center">
  <div class="card-container m-3">
    <!-- <mat-icon>mic</mat-icon> -->
    <div class="Login-Title justfy-content-center">
      <img src="/images/logo/logo.jpg" />
      <!-- <h1>Log In</h1> -->
    </div>
    <div class="signin-form justfy-content-center">
      <form [formGroup]="signupForm" class="Login-from" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label cLabel for="inputUsername"
            >Username<span style="color: red">*</span></label
          >
          <input
            cFormControl
            id="inputUsername"
            type="text"
            placeholder="Enter Username"
            formControlName="username"
          />
        </div>
        <ng-container
          *ngIf="
            signupForm.get('username')?.invalid &&
            signupForm.get('username')?.touched
          "
        >
          <span style="color: red">{{ getErrorMessage("username") }}</span>
        </ng-container>
        <div class="mb-3">
          <label cLabel for="inputEmail"
            >Email<span style="color: red">*</span></label
          >
          <input
            cFormControl
            id="inputEmail"
            type="email"
            placeholder="Enter Email"
            formControlName="email"
          />
        </div>
        <ng-container
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          <span style="color: red">{{ getErrorMessage("email") }}</span>
        </ng-container>
        <div class="mb-3">
          <label cLabel for="inputName"
            >Name<span style="color: red">*</span></label
          >
          <input
            cFormControl
            id="inputName"
            type="text"
            placeholder="Enter Name"
            formControlName="name"
          />
        </div>
        <ng-container
          *ngIf="
            signupForm.get('name')?.invalid && signupForm.get('name')?.touched
          "
        >
          <span style="color: red">{{ getErrorMessage("name") }}</span>
        </ng-container>
        <div class="mb-3">
          <label cLabel for="inputPassword"
            >Password<span style="color: red">*</span></label
          >
          <input
            cFormControl
            id="inputPassword"
            type="password"
            placeholder="Enter Password"
            formControlName="password"
          />
        </div>
        <ng-container
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
        >
          <span style="color: red">{{ getErrorMessage("password") }}</span>
        </ng-container>
        <div class="mb-3">
          <label cLabel for="inputRePassword"
            >Re-enter password<span style="color: red">*</span></label
          >
          <input
            cFormControl
            id="inputRePassword"
            type="password"
            placeholder="Re-enter Password"
            formControlName="reEnteredPassword"
          />
        </div>
        <ng-container
          *ngIf="
            signupForm.get('reEnteredPassword')?.invalid &&
            signupForm.get('reEnteredPassword')?.touched
          "
        >
          <span style="color: red">{{
            getErrorMessage("reEnteredPassword")
          }}</span>
        </ng-container>
        <ng-container *ngIf="serverError">
          <span style="color: red">{{ serverError }}</span>
        </ng-container>

        <div class="mb-1 mt-4">
          <button cButton color="success" type="submit" style="width: 100%">
            Sign Up
          </button>
        </div>
        <div class="mb-3 mt-3 justify-content-right">
          <label
            class="sign-up"
            (click)="onClickLogin()"
            title="Already have an account? login!"
          >
            Already have an account?
            <span style="font-weight: bold">login!</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="spinner-overlay" *ngIf="sharedService.isLoading">
  <div class="spinner"></div>
</div>
