<app-header></app-header>
<div class="dashboard" *ngIf="isDashboardPreview">
  <div>
    <div class="dashboard-title justfy-content-center">
      <!-- <h3>PERUZAR READING PRORGRAM</h3> -->
      <div class="title-card-container justfy-content-center">
        <h3>Peruzar Reading Program</h3>
      </div>
    </div>
    <div class="justfy-content-center">
      <div class="dashboard-content justfy-content-center" style="height: 70%">
        <div>
          <img src="/images/pic14.jfif" />
        </div>
        <div>
          <div (click)="onChangePreviewMode('preTest')">
            <div class="label-card-container justfy-content-center">
              <h1>Pre-Test</h1>
            </div>
          </div>
          <div (click)="onChangePreviewMode('postTest')">
            <div class="label-card-container justfy-content-center">
              <h1>Post-Test</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pre-test" *ngIf="isPreTestPreview">
  <div>
    <div class="justfy-content-center" style="height: 150px">
      <div class="title-card-container justfy-content-left">
        <div style="width: 35%">
          <div
            class="title-card-icon justfy-content-left"
            (click)="onChangePreviewMode('dashboard')"
          >
            <svg
              [cIcon]="icons.cilArrowLeft"
              width="25"
              title="Shield Icon"
            ></svg>
          </div>
        </div>
        <h2>Pre Test</h2>
      </div>
    </div>
    <div class="justfy-content-center">
      <div class="justfy-content-center">
        <div class="pre-test-content justfy-content-center">
          <div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'alphabets')"
              >
                <h3>Alphabets</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'sentence-filter')"
              >
                <h3>Sentence Filter</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'word-list')"
              >
                <h3>Word List</h3>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'oral-reading-passages')"
              >
                <h3>Oral Reading Passages</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'interest-inventory')"
              >
                <h3>Interest Inventory</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('pre-test', 'multiple-intelligence-test')"
              >
                <h3>Multiple Intelligence Test</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pre-test" *ngIf="isPostTestPreview">
  <div>
    <div class="justfy-content-center" style="height: 150px">
      <div class="title-card-container justfy-content-left">
        <div style="width: 35%">
          <div
            class="title-card-icon justfy-content-left"
            (click)="onChangePreviewMode('dashboard')"
          >
            <svg
              [cIcon]="icons.cilArrowLeft"
              width="25"
              title="Shield Icon"
            ></svg>
          </div>
        </div>

        <h2>Post Test</h2>
      </div>
    </div>
    <div class="justfy-content-center">
      <div class="justfy-content-center">
        <div class="pre-test-content justfy-content-center">
          <div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('post-test', 'alphabets')"
              >
                <h3>Alphabets</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('post-test', 'sentence-filter')"
              >
                <h3>Sentence Filter</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('post-test', 'word-list')"
              >
                <h3>Word List</h3>
              </div>
            </div>
            <div>
              <div
                class="label-card-container justfy-content-center"
                (click)="onNavigate('post-test', 'oral-reading-passages')"
              >
                <h3>Oral Reading Passages</h3>
              </div>
            </div>
          </div>
          <!-- <div>
            <div>
              <div class="label-card-container justfy-content-center">
                <h3>Oral Reading Passages</h3>
              </div>
            </div>
            <div>
              <div class="label-card-container justfy-content-center">
                <h3>Interest Inventory</h3>
              </div>
            </div>
            <div>
              <div class="label-card-container justfy-content-center">
                <h3>Multiple Intelligence Test</h3>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
