<div class="justfy-content-center">
  <div>
    <div class="justfy-content-center">
      <h6>{{ startFrom + "/" + totalLength }}</h6>
    </div>
    <div>
      <div class="card-container">
        <div>
          <div style="display: flex; margin-left: 120px">
            <div>
              <div class="justfy-content-center">
                <div
                  (click)="showVolumIcon = !showVolumIcon"
                  style="cursor: pointer"
                >
                  <div class="quater-circle-container">
                    <div *ngIf="showVolumIcon">
                      <div
                        class="quater-circle-large"
                        [ngClass]="
                          showQuaterCircle
                            ? 'quater-circle'
                            : 'hide-quater-circle'
                        "
                      ></div>
                      <div
                        class="quater-circle-medium"
                        [ngClass]="
                          showQuaterCircle
                            ? 'quater-circle'
                            : 'hide-quater-circle'
                        "
                      ></div>
                      <div
                        class="quater-circle-small"
                        [ngClass]="
                          showQuaterCircle
                            ? 'quater-circle'
                            : 'hide-quater-circle'
                        "
                      ></div>
                      <svg
                        [cIcon]="icons.cilVolumeLow"
                        width="25"
                        title="Shield Icon"
                      ></svg>
                    </div>
                  </div>
                  <div *ngIf="!showVolumIcon">
                    <svg
                      [cIcon]="icons.cilVolumeOff"
                      width="25"
                      title="Shield Icon"
                    ></svg>
                  </div>
                </div>
              </div>
              sound
            </div>
          </div>
          <div class="justfy-content-center">
            <h1
              [style.color]="
                startFrom % 2 === 0
                  ? 'var(--dark-color)'
                  : 'var(--warning-color)'
              "
            >
              {{ letter }}
            </h1>
          </div>
        </div>
      </div>
      <div
        class="mic-icon justfy-content-center"
        style="margin-top: 20px; cursor: pointer"
      >
        <div class="circle-container">
          <div class="medium" [ngClass]="showCircle ? 'circle' : ''"></div>
          <div class="small" [ngClass]="showCircle ? 'circle' : ''"></div>
          <svg
            [cIcon]="icons.cilMic"
            class="mic-icon"
            title="Microphone Icon"
          ></svg>
        </div>
      </div>
    </div>
  </div>
</div>
