.card-container {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 70px;
  font-weight: bolder;
}
.mic-icon svg {
  width: 130px;
}
.mic-icon mat-icon {
  transform: scaleX(1.2);
  font-size: 25px;
}
.mic-icon mat-icon:hover {
  transform: scaleX(1.2); /* Increase width on hover */
  font-size: 30px; /* Optional: Adjust size to make it larger */
  color: #ff5733;
}
svg:hover {
  width: 170px !important;
}
.mic-icon {
  size: 300px;
}

.mic-icon:hoverh {
  height: 100px;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
// .animated-icon {
//   transition: transform 0.3s ease-in-out;
// }
.animate-icon {
  display: inline-block;
  animation: rotate 2s infinite linear; /* Adjust speed and type of animation */
}
.circle-container {
  margin-top: 380px !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.volume-icon {
  cursor: pointer;
  transform: rotate(360deg);
}
.volume-icon:hover {
  transition: transform 0.3s ease-in-out;
}

/** <--- style for Tablet ----> **/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    height: 200px;
    width: 200px;

    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/** <--- style for Mobile  ----> **/
@media screen and (max-width: 767px) {
}
