<app-header></app-header>
<div>
  <div class="justfy-content-center">
    <div>
      <div class="justfy-content-center">
        <div class="title-card-container justfy-content-left">
          <div style="width: 35%">
            <div
              class="title-card-icon justfy-content-left"
              (click)="onChangePreviewMode(this.mode)"
            >
              <svg
                [cIcon]="icons.cilArrowLeft"
                width="50"
                title="Shield Icon"
              ></svg>
            </div>
          </div>
          <h4>Sentence Filter</h4>
        </div>
      </div>
      <div *ngIf="!sharedService.isLoading">
        <div *ngIf="!accuracyService.onShowResult">
          <div class="justfy-content-center">
            <div>
              <app-card-container
                [sentenceList]="sentenceList"
                key="common"
              ></app-card-container>
            </div>
          </div>
        </div>

        <div class="justfy-content-center" *ngIf="accuracyService.onShowResult">
          <app-result-table></app-result-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
