<div class="justfy-content-center">
  <div class="card-container m-3">
    <!-- <mat-icon>mic</mat-icon> -->
    <div class="Login-Title justfy-content-center">
      <img src="/images/logo/logo.jpg" />
      <!-- <h1>Log In</h1> -->
    </div>
    <div class="signin-form justfy-content-center">
      <form cForm class="Login-from">
        <div class="mb-3">
          <label cLabel for="inputEmail-1">Username/Email</label>
          <input
            cFormControl
            id="inputEmail-1"
            type="email"
            placeholder="Enter Username/Email"
          />
          <!-- <div cFormText>We'll never share your email with anyone else</div> -->
        </div>
        <div class="mb-3">
          <label cLabel for="inputPassword-1">Password</label>
          <input
            cFormControl
            id="inputPassword-1"
            type="password"
            placeholder="Enter Password"
          />
        </div>
        <div class="remember-me mb-3">
          <c-form-check>
            <input cFormCheckInput id="checkMeOut-1" type="checkbox" />
            <label cFormCheckLabel for="checkMeOut-1">Remember Me</label>
          </c-form-check>
        </div>

        <div class="mb-1 mt-4">
          <!-- <input
            cButton
            color="success"
            type="submit"
            text="Log In"
            style="width: 100%"
          /> -->
          <button
            cButton
            color="success"
            type="submit"
            style="width: 100%"
            (click)="onSubmit()"
          >
            Log In
          </button>
        </div>
        <!-- //Don’t have an account? Signup! -->
        <div class="mb-3 justfy-content-space-Btw">
          <label class="forgot-password">Forgot password?</label>
          <label
            class="sign-up"
            (click)="onClickSignup()"
            title="Dont have an account? Signup!"
            >Signup!</label
          >
        </div>
      </form>
    </div>
  </div>
</div>
