.title-card-container {
  margin-top: 20px;
  height: 50px;
}
.small-card-container {
  // margin: 10px 0;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: var(--inactive-color);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}
.active {
  color: var(--common-color);
  background-color: var(--secondary-color);
}
