<app-header></app-header>
<div class="justfy-content-center">
  <div>
    <div class="title-card-container justfy-content-left">
      <div style="width: 35%">
        <div
          class="title-card-icon justfy-content-left"
          (click)="onChangePreviewMode(this.mode)"
        >
          <svg
            [cIcon]="icons.cilArrowLeft"
            width="25"
            title="Shield Icon"
          ></svg>
        </div>
      </div>
      <h4>Alphabets</h4>
    </div>
    <div class="justfy-content-center">
      <div
        class="small-card-container justfy-content-center"
        [class]="btnCapitalActive ? 'active' : ''"
        (click)="btnCapitalActive = true"
      >
        <h6>Capital Letter</h6>
      </div>
      <div
        class="small-card-container justfy-content-center"
        [class]="btnCapitalActive ? '' : 'active'"
        (click)="btnCapitalActive = false"
      >
        <h6>Common Letter</h6>
      </div>
    </div>
  </div>
</div>
