<div class="header-container">
  <div class="header-desktop justfy-content-space-Btw w-100">
    <div class="logo justfy-content-center" style="cursor: pointer">
      <img src="/images/logo/logo3.jpg" />
    </div>
    <div class="header-tab justfy-content-center w-50">
      <div>
        <a
          href="/dashboard"
          [ngClass]="{ active: sharedService.activeLink === 'home' }"
          >Home</a
        >
      </div>
      <div>
        <a
          [ngClass]="{ active: sharedService.activeLink === 'about' }"
          href="/about"
          >About</a
        >
      </div>
      <div>
        <a
          [ngClass]="{ active: sharedService.activeLink === 'contact' }"
          href="/contact"
          >Contact</a
        >
      </div>
      <div>
        <a href="/login">log Out</a>
      </div>
    </div>
  </div>
  <div class="header-tab-mobile justfy-content-space-Btw">
    <div class="menu" (click)="onToggleMenu()">
      <svg [cIcon]="icons.cilMenu" width="25" title="Shield Icon"></svg>
    </div>
    <div>
      <div class="logo justfy-content-center">
        <img src="/images/logo/logo3.jpg" />
      </div>
    </div>
  </div>
</div>
<div *ngIf="isShowMenu">
  <div class="mobile-tab">
    <div>
      <a
        href="/dashboard"
        [ngClass]="{ active: sharedService.activeLink === 'home' }"
        >Home</a
      >
    </div>
    <div>
      <a
        href="/about"
        [ngClass]="{ active: sharedService.activeLink === 'about' }"
        >About</a
      >
    </div>
    <div>
      <a
        href="/contact"
        [ngClass]="{ active: sharedService.activeLink === 'contact' }"
        >Contact</a
      >
    </div>
    <div>
      <a href="/login">logOut</a>
    </div>
  </div>
</div>
