<div class="justfy-content-center">
  <div>
    <div>
      <div class="justfy-content-center">
        <h6>{{ startFrom + "/" + totalLength }}</h6>
      </div>
      <div class="card-container-component justfy-content-center">
        <div class="justfy-content-center p-4">
          <h4
            style="line-height: 30px"
            [style.color]="
              startFrom % 2 === 0 ? 'var(--dark-color)' : 'var(--warning-color)'
            "
          >
            {{ sentence }}
          </h4>
        </div>
      </div>
      <div *ngIf="showCircle" style="margin-top: 0">
        <span style="color: red">Recording in progress....</span>
      </div>
      <div
        class="mic-icon justfy-content-center"
        style="margin-top: 20px; cursor: pointer"
      >
        <div class="circle-container">
          <div class="medium" [ngClass]="showCircle ? 'circle' : ''"></div>
          <div class="small" [ngClass]="showCircle ? 'circle' : ''"></div>
          <div *ngIf="showCircle" class="mic-icon" style="margin-left: 4px">
            🔴
          </div>
          <div class="mic-icon" *ngIf="!showCircle">
            <mat-icon>mic</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
